/* ANIMATIONS: section_landing-page.vue */
.anim-landingSection-title-fade-in {
    animation: keys-landingSection-title-fade-in 5000ms forwards;
    animation-delay: 1s;
}
@keyframes keys-landingSection-title-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.anim-landingSection-title-fade-out {
    animation: keys-landingSection-title-fade-out 300ms forwards;
}
@keyframes keys-landingSection-title-fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.anim-landingSection-scrollHint-fade-in {
    animation: keys-landingSection-scrollHint-fade-in 5000ms forwards;
    animation-delay: 4s;
}
@keyframes keys-landingSection-scrollHint-fade-in {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}
.anim-landingSection-scrollHint-fade-out {
    animation: keys-landingSection-scrollHint-fade-out 300ms forwards;
}
@keyframes keys-landingSection-scrollHint-fade-out {
    0% { opacity: 0.7; }
    100% { opacity: 0; }
}

/* ANIMATIONS: section_aboutMe.vue */
.anim-aboutMe-in-from-left {
    animation: keys-aboutMe-in-from-left 500ms forwards 400ms;
    animation-delay: 600ms;
}
@keyframes keys-aboutMe-in-from-left {
    0% { transform: translateX(-130%); }
    100% { transform: translateX(0%); }
}
.anim-aboutMe-in-from-right {
    animation: keys-aboutMe-in-from-right 500ms forwards 400ms;
    animation-delay: 600ms;
}
@keyframes keys-aboutMe-in-from-right {
    0% { transform: translateX(130%); }
    100% { transform: translateX(0%); }
}
.anim-aboutMe-out-to-left {
    animation: keys-aboutMe-out-to-left 400ms forwards;
}
@keyframes keys-aboutMe-out-to-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-130%); }
}
.anim-aboutMe-out-to-right {
    animation: keys-aboutMe-out-to-right 400ms forwards;
}
@keyframes keys-aboutMe-out-to-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(130%); }
}















.animation-projects-to-left {
    animation: move-projects-to-left 400ms forwards;
}
@keyframes move-projects-to-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.animation-projects-to-right {
    animation: move-projects-to-right 600ms forwards;
    animation-delay: 400ms;
}
@keyframes move-projects-to-right {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}
.animation-projects-to-top {
    animation: move-projects-to-top 600ms forwards;
    animation-delay: 800ms;
}
@keyframes move-projects-to-top {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0%);
    }
}

.animation-projects-to-bottom {
    animation: move-projects-to-bottom 400ms forwards;
}
@keyframes move-projects-to-bottom {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(500%);
    }
}
