/*Used on landingPage*/
.anim-pageTitle-fade-in {
    animation: anim-pageTitle-fade-in 5000ms forwards;
    animation-delay: 1s;
}
@keyframes anim-pageTitle-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.anim-pageTitle-fade-out {
    animation: anim-pageTitle-fade-out 300ms forwards;
}
@keyframes anim-pageTitle-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.anim-scrollHint-fade-in {
    animation: anim-scrollHint-fade-in 5000ms forwards;
    animation-delay: 3s;
}
@keyframes anim-scrollHint-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.1;
    }
}
.anim-scrollHint-fade-out {
    animation: anim-scrollHint-fade-out 300ms forwards;
}
@keyframes anim-scrollHint-fade-out {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}
.anim-bounce-vertical {
    animation: anim-bounce-vertical 2000ms linear infinite;
    animation-delay: 6s;
}
@keyframes anim-bounce-vertical {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}